---
import Layout from "~/layouts/Layout.astro";
import PageTitle from "~/components/atoms/PageTitle.astro";

import GalleryCard from "~/components/molecules/GalleryCard.astro";
import card1 from "~/assets/images/pexels-maurício-mascaro-1154189.jpg";
---

<Layout title="">
  <main class="container mx-auto mt-12 flex max-w-6xl flex-col items-center justify-center gap-16">
    <PageTitle title="Galeria" />
    <div class="flex flex-wrap items-center justify-center gap-16">
      <GalleryCard src={card1} alt="Party" />
      <GalleryCard src={card1} alt="Party" />
      <GalleryCard src={card1} alt="Party" />
      <GalleryCard src={card1} alt="Party" />
      <GalleryCard src={card1} alt="Party" />
      <GalleryCard src={card1} alt="Party" />
      <GalleryCard src={card1} alt="Party" />
    </div>
  </main>
</Layout>
