---
interface Props {
  title: string;
  page: string;
  image: string;
  large?: boolean;
}

const { title, page, image = await Astro.slots.render("image"), large } = Astro.props;
---

{
  large ? (
    <a
      href={`/${page}`}
      style={`background-image:url("/image/${image}")`}
      class="group relative col-span-1 mx-auto flex w-full items-center justify-center border-8 border-black/50 bg-cover bg-center transition md:col-span-2"
    >
      <div class="absolute inset-0 h-full w-full bg-black/40 backdrop-blur-[2px] transition group-hover:bg-black/30" />
      <h2 class="z-10 px-12 py-32 font-walkway text-5xl tracking-wide text-white transition-all group-hover:tracking-wider">{title}</h2>
    </a>
  ) : (
    <a
      href={`/${page}`}
      style={`background-image:url("/image/${image}")`}
      class="group relative col-span-1 mx-auto flex w-full items-center justify-center border-8 border-black/50 bg-cover bg-center transition"
    >
      <div class="absolute inset-0 h-full w-full bg-black/40 backdrop-blur-[2px] transition group-hover:bg-black/30" />
      <h2 class="z-10 px-12 py-32 font-walkway text-6xl tracking-wide text-white transition-all group-hover:tracking-wider">{title}</h2>
    </a>
  )
}
